# Игнорировать временные файлы
*.swp
*.swo
*.swn
*.bak
*~

# Игнорировать файлы и папки, созданные go get
/.git/
/bin/

# Игнорировать файлы с расширением .exe
*.exe

# Игнорировать файл сборки проекта
build/

# Игнорировать файлы конфигурации IDE
.idea/

# Игнорировать .env
.env